*{
    color: white;
    font-family: 'Orbitron', sans-serif;
}
:root{
    --yellow-color: rgba(234,228,73,1)
}
.y-color{
    color: var(--yellow-color);
}
body{
    background-color: black;
}
/** HEADER **/
.txt-nav{
    margin: 0 15px;
    color: white !important;
    position: relative;
    overflow-x: hidden;
}
.nav-flex{
    display: flex;
    flex-direction: row;
}

.txt-nav::before{
    transition: .5s;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: -100%;
    content: "";
    background: linear-gradient(var(--yellow-color),var(--yellow-color));
    background-size: contain;
    background-repeat: no-repeat;
}
.txt-nav:hover::before{
    transform: translateX(100%);
}
/** CABECERA **/

.bg-image{
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(black 5%,transparent,black ), url(./media/nasa.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.above-tf{
    height: 100vh;
    padding-left: 40px;
}
.sub-cab{
    color: var(--yellow-color);
}

/** PARTE DE LOS LINKS **/
.bg-links{
    background: linear-gradient(black,transparent,black), url(./media/explorefondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.btn-exp{
    transition: .5s;
    padding: 10px 20px;
    background: transparent;
    border: 0;
    background: 
    linear-gradient(to right, var(--yellow-color) 2px,transparent 2px) 0 0,
    linear-gradient(to right, var(--yellow-color) 2px, transparent 2px) 0 100%,
    linear-gradient(to left, var(--yellow-color) 2px, transparent 2px) 100% 0,
    linear-gradient(to left, var(--yellow-color) 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, var(--yellow-color) 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, var(--yellow-color) 2px, transparent 2px) 100% 0,
    linear-gradient(to top, var(--yellow-color) 2px, transparent 2px) 0 100%,
    linear-gradient(to top, var(--yellow-color) 2px, transparent 2px) 100% 100%;
    background-size: 10px 10px;
    background-repeat: no-repeat;
}
.btn-exp:hover{
    letter-spacing: 5px;
}

/** EXPLORER **/
.card-exp{
    border-bottom: 5px solid var(--yellow-color);
    transform: skewX(-5deg);
    margin: 15px 30px;
    height: 250px;
    width: 150px;
}
.card-1{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./media/nasa-V4ZksNimxLk-unsplash.jpg);
}
.card-2{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./media/nasa.jpg);
}
.card-3{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./media/nasa-V4ZksNimxLk-unsplash.jpg);
}
.card-4{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./media/space_shuttle.png);
}
.card-5{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./media/explorefondo.jpg);
}
.card-6{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./media/nasa-V4ZksNimxLk-unsplash.jpg);
}

/** NEWS **/
.txt-news{
    margin-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url(./media/border-tech.png);
}
.img-news{
    height: 90%;
}

.bg-before-footer{
    height: 300px;
    background: linear-gradient(black,transparent,black), url(./media/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/** FOOTER **/
.social-ico{
    margin: 0 40px;
}